@page "/Editor"
@rendermode InteractiveServer

<div class="dock-yaml-editor">
    <DockView Name="Editor">
        <DockContent Type="DockContentType.Row">
            <DockContent Type="DockContentType.Column">
                <DockComponent Title="Yaml Editor">
                    <CodeEditor Value="@Code" Language="yaml" ShowLineNo="true"/>
                </DockComponent>
            </DockContent>

            <DockContent Type="DockContentType.Column">
                <DockComponent Title="Preview">
                    Preview
                </DockComponent>
            </DockContent>
        </DockContent>

        @* <DockContent Type="DockContentType.Row"> *@
        @*     Console *@
        @* </DockContent> *@
    </DockView>
</div>

@code {

    private string Code { get; set; }
        = """
          global:
            style:
          dataSources:
            prom:
              type: prometheus
              baseUrl: 'prom.acaad.dev'
              auth: null
          plots:
            power_consumption:
              plot:
                type: scatter
              dataSource:
                type: range
                backend: prom
                timeRange: now - 6h
                query: |
                  power_consumption{device="audio-interface"}

          """;

}
