@page "/Editor"
@using TinyViz.WebUi.Components.Preview
@using Console = System.Console
@rendermode InteractiveServer

<div class="dock-yaml-editor">
    <DockView Name="Editor">
        <DockContent Type="DockContentType.Row">
            <DockContent Type="DockContentType.Column">
                <DockComponent Title="Yaml Editor">
                    <CodeEditor Value="@ImageYaml" Language="yaml" ShowLineNo="true" OnValueChanged="OnYamlUpdated"/>
                </DockComponent>
            </DockContent>

            <DockContent Type="DockContentType.Column">
                <DockComponent Title="Preview">
                    <MultiImagePreview ImageYaml="@ImageYaml"/>

                    <Divider/>

                    <JsonPreview ImageYaml="@ImageYaml"/>
                </DockComponent>
            </DockContent>
        </DockContent>

        @* <DockContent Type="DockContentType.Row"> *@
        @*     Console *@
        @* </DockContent> *@
    </DockView>
</div>

@code {

    public string ImageYaml { get; set; }
        = """
          global:
            style:
          dataSources:
            prom:
              type: prometheus
              baseUrl: 'prom.acaad.dev'
              auth: null
          plots:
            power_consumption:
              plot:
                type: scatter
              dataSource:
                type: range
                backend: prom
                timeRange: now - 6h
                query: |
                  power_consumption{device="audio-interface"}

          """;

    private Task OnYamlUpdated(string? arg)
    {
        ImageYaml = arg ?? string.Empty;
        StateHasChanged();
        return Task.CompletedTask;
    }

}
