@page "/Editor"
@using TinyViz.WebUi.Components.Preview
@rendermode InteractiveServer

<div class="dock-yaml-editor">
    <DockView Name="Editor">
        <DockContent Type="DockContentType.Row">
            <DockContent Type="DockContentType.Column">
                <DockComponent Title="Yaml Editor">
                    <CodeEditor Value="@ImageYaml" Language="yaml" ShowLineNo="true" OnValueChanged="OnYamlUpdated"/>
                </DockComponent>
            </DockContent>

            <DockContent Type="DockContentType.Column">
                <DockComponent Title="Preview">
                    <MultiImagePreview ImageYaml="@ImageYaml"/>

                    <Divider/>

                    <JsonPreview ImageYaml="@ImageYaml"/>
                </DockComponent>
            </DockContent>
        </DockContent>

        @* <DockContent Type="DockContentType.Row"> *@
        @*     Console *@
        @* </DockContent> *@
    </DockView>
</div>

@code {

    public string ImageYaml { get; set; }
        = """
          chart:
          layout:
            margin:
              l: 3
              r: 3
              t: 28
              b: 0
            annotations:
              x: 0.5
              y: 0.3
          """;

    private Task OnYamlUpdated(string? arg)
    {
        ImageYaml = arg ?? string.Empty;
        StateHasChanged();
        return Task.CompletedTask;
    }

}
