@page "/Editor"
@using TinyViz.WebUi.Components.Preview
@rendermode InteractiveServer

<div class="dock-yaml-editor">
    <DockView Name="Editor">
        <DockContent Type="DockContentType.Row">
            <DockContent Type="DockContentType.Column">
                <DockComponent Title="Yaml Editor">
                    <CodeEditor Value="@ImageYaml" Language="yaml" ShowLineNo="true" OnValueChanged="OnYamlUpdated"/>
                </DockComponent>
            </DockContent>

            <DockContent Type="DockContentType.Column">
                <DockComponent Title="Preview">
                    <MultiImagePreview ImageYaml="@ImageYaml"/>

                    <Divider/>

                    <JsonPreview ImageYaml="@ImageYaml"/>
                </DockComponent>
            </DockContent>
        </DockContent>

        @* <DockContent Type="DockContentType.Row"> *@
        @*     Console *@
        @* </DockContent> *@
    </DockView>
</div>

@code {

    private string ScatterTemplate = """
                                     chart:
                                       trace:
                                         typeName: scatter
                                         x:
                                           - 1
                                           - 1.5
                                           - 2
                                           - 3
                                         y:
                                           - 10
                                           - 10
                                           - 10
                                           - 18
                                     layout:
                                       paper_bgcolor: '#000000'
                                       plot_bgcolor: '#000000'
                                       font:
                                         color: '#ffffff'
                                         family: 'Inter, Arial, sans-serif'
                                       title:
                                         yanchor: top
                                         text: 'Temp (°C)'
                                         font:
                                           size: 20
                                         pad:
                                           t: 10
                                       margin:
                                         l: 20
                                         r: 20
                                         t: 30
                                         b: 20
                                     """;

    public string ImageYaml { get; set; }
        = """
          chart:
            trace:
              typeName: indicator
              mode: gauge
              value: '42'
              title:
                text: 'CPU Busy'
                font:
                  size: 20
                  color: '#ffffff'
              gauge:
                axis:
                  range:
                    - 0
                    - 100
                bar:
                  color: '#ffffff'
                  thickness: 0.3
                shape: angular
                steps:
                  - range: [0, 70]
                    color: '#2ECC71'
                  - range: [70, 90]
                    color: '#F1C40F'
                  - range: [90, 100]
                    color: '#E74C3C'
          layout:
            paper_bgcolor: '#000000'
            font:
              color: '#ffffff'
              family: 'Inter, Arial, sans-serif'
            margin:
              l: 3
              r: 3
              t: 40
              b: 0
            annotations:
              - x: 0.35
                y: 0.25
                xref: paper
                yref: paper
                xanchor: left
                yanchor: top
                text: '42%'
                showarrow: true
                font:
                  size: 30
                  color: '#ffffff'
          """;

    private Task OnYamlUpdated(string? arg)
    {
        ImageYaml = arg ?? string.Empty;
        StateHasChanged();
        return Task.CompletedTask;
    }

}
