<div>
    <h4>JSON Preview</h4>
    <CodeEditor Value="@ImageYaml" Language="yaml" ShowLineNo="true" IsReadonly="true"/>
</div>

@code
{
    [Parameter] public string ImageYaml { get; set; } = string.Empty;
}
