@using TinyViz.Contracts.Model.GraphDescriptors
@using TinyViz.Renderer

@inject IRendererFacade rendererFacade;

<div class="multi-image-preview">
    <div style="height: @(BaseResolution)px; width: @(BaseResolution)px">
        @if (IsGenerating is false)
        {
            <img src="@ImagePngB64" alt="The preview of the Chart being edited."/>
        }
        else
        {
            <SkeletonAvatar Round="false"/>
        }
    </div>
</div>

@code
{
    [Parameter] public string? ImageYaml { get; set; }

    private const int BaseResolution = 144;
    private string? ImagePngB64 { get; set; }

    private bool IsGenerating { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        double value = Random.Shared.NextDouble() * 100;

        if (ImageYaml is null)
        {
            return;
        }

        await GenerateImageAsync(
            ImageYaml,
            value,
            BaseResolution,
            next => IsGenerating = next,
            png => ImagePngB64 = png
        );
    }

    private async Task GenerateImageAsync(
        string imageYaml,
        double value,
        int resolution,
        Action<bool> updateLoading,
        Action<string> updateValue
    )
    {
        updateLoading(obj: true);

        try
        {
            YamlGraphDescriptor graphDescriptor = new(imageYaml);
            string nextPngValue = await rendererFacade.RenderPngAsync(graphDescriptor);
            updateValue(nextPngValue);
        }
        catch (Exception ex)
        {
            // TODO: Handle (yaml invalid format, generation error)
        }
        finally
        {
            updateLoading(obj: false);
        }
    }
}
